@import url("https://fonts.googleapis.com/css2?family=Alata&family=Candal&family=Harmattan:wght@700&family=Tajawal:wght@400&display=swap");
#email {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.15em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: #202040;
  text-decoration: none;
}

a:active {
  color: white;
}

/* @keyframes quick-highlight {
    0% {
        color: #4400bb;
        text-shadow: 0.2em 0em white;
    }
    100% {
        color: $lightblue;
        text-shadow: 0em 0em white;
    }
}

#logo:target {
    animation: quick-highlight 0.5s;
} */
ul {
  list-style: none;
}

html {
  height: 100%;
  position: relative;
}

body {
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #202040;
  background: #202040 url("../../img/noise-2.png");
  background: url("../../img/noise.png"), radial-gradient(circle, #202040 0%, #191932 55%, #0e0e1d 100%);
  transition: background 1s;
}

.body-helper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: "#c0cfff";
  background: "#c0cfff" url("../../img/noise.png");
  background: url("../../img/noise.png"), radial-gradient(circle, #dde5ff 0%, #ccd8fb 55%, #c0cfff 100%);
  transition: opacity 1s ease-out;
}

#wrapper {
  max-width: 1024px;
  min-height: 90vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 3vw auto 0;
  position: relative;
}

header {
  margin: 0 1.3em;
}

#logo {
  width: 5em;
  outline: none;
  display: inline-block;
  font-size: 1.5em;
  font-family: "Candal", sans-serif;
  color: #202040;
  position: relative;
  user-select: none;
}
#logo span {
  text-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
}
#logo #hadd {
  display: inline-block;
}
#logo #i {
  display: inline-block;
  transform: rotate(180deg);
  position: absolute;
  bottom: -0.13em;
  transition: transform 0.5s, bottom 0.5s;
}
#logo #me {
  white-space: pre;
  display: inline-block;
  margin-left: 0;
  position: absolute;
  transition: transform 0.5s, margin-left 0.5s, opacity 0.5s;
}

#logo:hover #i {
  transform: rotate(0deg);
  bottom: 0em;
  transition: transform 0.5s, bottom 0.5s;
}
#logo:hover #me {
  transform: rotate(30deg);
  margin-left: 1em;
  opacity: 0%;
  transition: transform 0.5s, margin-left 0.5s, opacity 0.5s;
}

.dark {
  float: right;
}

main {
  display: flex;
  margin: 13vh auto;
}

footer > p {
  text-align: center;
  font-size: 0.7em;
  opacity: 0.6;
}

p {
  color: #666699;
  font-size: 0.8em;
  margin-bottom: 1.4vh;
}

#container {
  font-family: "Alata", sans-serif;
  width: 80%;
  margin: auto auto;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  grid-column-gap: 5em;
  grid-row-gap: 4em;
  justify-items: center;
  color: #202040;
}
#container div:nth-child(1) {
  animation: float1 1s ease-in-out infinite;
}
#container div:nth-child(2) {
  animation: float2 1s ease-in-out infinite;
}
#container div:nth-child(3) {
  animation: float3 1s ease-in-out infinite;
}
#container div:nth-child(4) {
  animation: float4 1s ease-in-out infinite;
}
#container div:nth-child(5) {
  animation: float5 1s ease-in-out infinite;
}
#container div:nth-child(6) {
  animation: float6 1s ease-in-out infinite;
}
#container div:nth-child(7) {
  animation: float7 1s ease-in-out infinite;
}
#container div:nth-child(8) {
  animation: float8 1s ease-in-out infinite;
}
#container div:nth-child(9) {
  animation: float9 1s ease-in-out infinite;
}
#container div {
  text-align: center;
  opacity: 0.4;
  transition: opacity 0.2s;
}
#container div h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}
#container div span {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.15em;
  margin: auto 0.2em;
  font-size: 0.9em;
  opacity: 0.6;
  cursor: pointer;
}
#container div span:hover {
  opacity: 0.8;
}
#container div:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}

@keyframes float1 {
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float2 {
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float3 {
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float4 {
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float5 {
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float6 {
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float7 {
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float8 {
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float9 {
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floatbasic {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
.toggle {
  --size: 1.15rem;
  margin-top: 0.5em;
  appearance: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.06);
  width: var(--size);
  height: var(--size);
  box-shadow: calc(var(--size) * -0) calc(var(--size) * 0) 0.6em 0.5em rgba(255, 255, 255, 0.06), inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: #c0cfff;
  transition: all 500ms;
}
.toggle:not(:checked) {
  --size: 1.3rem;
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  transform: scale(0.75);
  color: white;
  box-shadow: 0 0 2em 0.2em rgba(255, 255, 255, 0.7), inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

/* for largest screens (above 3840px) */
@media (min-width: 3840px) {
  #toggle {
    --size: 1.5rem;
  }

  #logo {
    font-size: 2em;
  }

  #container {
    width: 100%;
    grid-column-gap: 10em;
    grid-row-gap: 20em;
  }
  #container div h2 {
    font-size: 1.6em;
  }
  #container div span {
    font-size: 1.4em;
  }

  footer > p {
    font-size: 1em;
  }
}
@media (max-width: 3840px) {
  #container {
    grid-row-gap: 10em;
  }
  #container div h2 {
    font-size: 1.3em;
  }
  #container div span {
    font-size: 1.1em;
  }
}
@media (max-width: 2560px) {
  #container {
    grid-row-gap: 7em;
  }
  #container div h2 {
    font-size: 1.2em;
  }
  #container div span {
    font-size: 0.9em;
  }
}
@media (max-width: 1680px) {
  #container {
    grid-row-gap: 5em;
  }
}
@media (max-width: 1440px) {
  #container {
    grid-row-gap: 4em;
  }
}
@media (max-width: 800px) {
  main {
    margin: 15vh auto;
  }

  #container div h2 {
    font-size: 1em;
  }
  #container div span {
    font-size: 0.7em;
  }
}
@media (max-width: 610px) {
  #logo {
    font-size: 1.4em;
  }

  main {
    margin: 8vh auto;
  }

  #container {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 7vh;
    grid-column-gap: 10vw;
  }
  #container div {
    animation: floatbasic 1s ease-in-out infinite !important;
  }
  #container div:nth-child(9) {
    grid-column: 1/3;
  }
}
@media (max-width: 460px) {
  #logo {
    font-size: 1.3em;
  }

  #container {
    grid-row-gap: 6.5vh;
  }
  #container div h2 {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=style.css.map */
